:root {
  /* Colors */
  --font-white: #f5f5f5;
  --font-black:	#000000;


  /* Font */
  --bold-font: "Cinzel";
  --light-font: "Roboto";

  /* Font Size */
  --font-extreme: 2.5em;
  --font-large: 1.125rem;
  --font-medium: 0.875rem;
  --font-small: 0.75rem;
  --font-micro: 0.625rem;

  /* Size */
  --all-side-margin: 0.8rem;
  --aboutUs-box-height: 25%;
  --aboutUs-box-width: 40vw;
  --padding:10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*About Us*/

main {
  margin: 0 var(--all-side-margin);
}

main article {
  display: flex;
  justify-content: center;
}

main article >section, .con {
  height: var(--aboutUs-box-height);
  width: var(--aboutUs-box-width);
}

main article section {
  color: var(--font-black);
  font-family: var(--light-font);
  display: block;
  padding:var(--padding);
}

main article > .con {
  position:relative;
}

main article .con > img {
  height: var(--aboutUs-box-height);
  width: var(--aboutUs-box-width);
}

main article .con p {
  color:var(--font-white);
  font-family: var(--bold-font);
  font-size:var(--font-extreme);
  position:absolute;
  top:80%;
  left:2%;
  z-index:1;
}

main article #secFir{
  background-color: pink;
}

main article #secSec {
  background-color: skyblue;
}

main article #secThr {
  background-color: yellowgreen;
}

main article #secFor {
  background-color: orange;
}